header{
    margin: 0 auto;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1224px;
    padding-left: 15px;
    padding-right:15px;
    margin: 0 auto;
}

.page-title{
    margin:0;
}